Source: sentry
Maintainer: Dhatim <contact@dhatim.net>
Section: python
Priority: extra
Standards-Version: 3.9.5
Homepage: https://www.getsentry.com/
Build-Depends: debhelper (>= 9), python, dh-virtualenv (>= 0.7-2), postgresql-server-dev-9.5, libpython2.7-dev, libxml2-dev, libxslt1-dev, libffi-dev

Package: sentry
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), python2.7, ${misc:Pre-Depends}
Depends: ${python:Depends}, ${misc:Depends}, supervisor
Description: sentry
